#onglets{
    list-style-type : none;
    padding-bottom : 41px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li{
    float : left;
    height : 40px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #efefef;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets button{
    font-weight: bold;
    display : block;
    color : black;
    text-decoration : none;
    padding : 4px;
    background: none;
    border: none;
}

#onglets button:hover{
    background : #fff;
}

.stats{
    border-bottom:1px solid #9EA0A1;
}